body {
    display: flex;
    height: 100vh;
    width: 100vw;
    margin: 0;
    /* background-color: thistle; */
    background: linear-gradient(180deg, rgba(49,61,75,1) 0%, rgba(173,150,193,1) 100%, rgba(0,212,255,1) 100%);
}

::-webkit-scrollbar {
    width: 13px;
}
  
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px thistle; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: thistle; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(165, 126, 165)
}

.content-box {
    height: 80%;
    width: 90%;
    margin: auto;

    background: rgb(41,35,31,0.48);
    border-width: 8px;
    border-color: lavender;
    border-style: inset;
    border-radius: 25px;
    overflow: overlay;
}

#input-row {
}

.content-inner-box {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 20px;
}
